<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="data:,">
    <title>Sobre o sistema</title>
    <style>
        body {
            background-color: #ecead0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .navbar {
            background-color: #ffffff;
            font-size: 20px;
            color: #282828;
        }

        .nav-link {
            color: #282828;
        }

        .img-fluid {
            height: 80px;
            width: 80px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a style="margin: 1%;">SIPH</a>
                <img src="/static/icons/logo.png" alt="Icon vermelho com o desenho de uma alcachofra."
                    style="width: 5%; height: 5%; margin: 1%; padding: 0;">
                <a class="nav-item nav-link active" href="/login">Inicío<span class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>
    <div class="container mt-5 mb-5 align-items-center" style="width: 100%;">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4 align-items-center ">
                <img src="/static/icons/logo.png" class="img-responsive center-block d-block mx-auto" style="width: 60px;" alt="Logo com fundo vermelho e o desenho de uma alcachofra em branco."><br>
                <h5 class="text-center">Sistema de Identificação para Hortas</h5>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
    <section>
        <div class="container h-100 mt-5 mb-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                    <p class="text-center h3 fw-bold mb-2 mx-1 mx-md-4 mt-4">Sobre</p>

                                    <p>
                                        Este sistema foi desenvolvido baseado no ODS 2 que trata do combate à fome e
                                        agricultura sustentável.
                                        Mais informações sobre o ODS podem ser encotradas <a
                                            href="https://brasil.un.org/pt-br/sdgs/2">neste endereço.</a>
                                    </p>
                                    <p>
                                        O objetivo do sistema é utilizar imagens de satélite para encontrar locais
                                        próprios para a implantação de hortas urbanas.
                                        Baseando-se, principalmente, <a
                                            href="https://repositorio.ufpb.br/jspui/bitstream/123456789/14025/1/Arquivototal.pdf">nesta
                                            dissertação</a> que
                                        analisa as hortas urbanas na cidade de João Pessoa (PB), levanta-se evidências
                                        de que a produção urbana de alimentos, principalmente aquelas
                                        feitas próximas a locais de vulnerabilidade social, aumenta a segurança
                                        alimentar das pessoas que vivem próximas às hortas.
                                    </p>
                                    <p>
                                        A tecnologia utiliza para a segmentação dos locais próprios para implantação das
                                        hortas foram redes neurais U-net a partir de datasets de domínio público.
                                        Tem-se como público alvo pessoas/entidades que cuidem do planejamento urbano e
                                        da implementação de políticas públicas de abastecimento, como o SEMA em
                                        Piracicaba.
                                    </p>
                                    <p>
                                        Todo o sistema foi desenvolvido por Giovanna Valim Frederico para a disciplina
                                        de Projeto Integrado em Engenharia de Computação 1 (2022.2) e está disponível no
                                        GitHub (<a href="https://github.com/giovannav/segmentation-unet">rede neural</a> e <a href="https://github.com/giovannav/heroku-app">aplicação</a>) para consulta pública.
                                    </p>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>